<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Login"/>

<f:section name="loginFormFields">
	<f:if condition="!{error}">
		<f:then>
			<f:if condition="{auth0Error}">
				<div class="alert alert-danger">
					<strong>{auth0Error}</strong>
					{auth0ErrorDescription}
				</div>
			</f:if>

			<f:if condition="{code}">
				<div class="alert alert-success">
					<strong><f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_be.xlf:form.logged-in.success.title" /></strong>
					<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_be.xlf:form.logged-in.success.description" />
				</div>
			</f:if>

			<f:if condition="{userInfo}">
				<f:then>
					<p class="info text-center">
						<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_be.xlf:form.logged-in-as" />
						<strong>{userInfo.nickname}</strong> 👋
					</p>
					<div class="form-group" id="t3-login-submit-section">
						<button class="btn btn-block btn-login t3js-login-submit" id="t3-login-submit" type="submit" name="commandLI" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> {f:translate(key: 'login.process')}">
							<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_be.xlf:form.login.typo3" />
						</button>
						<a class="btn btn-auth0 btn-block btn-login" href="?loginProvider={loginProviderIdentifier}&auth0[action]=logout"><f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_be.xlf:form.logout.auth0" /></a>
					</div>
				</f:then>
				<f:else>
					<p class="info text-center">
						{f:translate(key: 'LLL:EXT:auth0/Resources/Private/Language/locallang_be.xlf:form.not-logged-in') -> f:format.html()}
					</p>
					<div class="form-group">
						<a class="btn btn-block btn-auth0 btn-login" href="/typo3/?loginProvider={loginProviderIdentifier}&auth0[action]=login">
							<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_be.xlf:form.login.auth0" />
						</a>
					</div>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:be.infobox title="{f:translate(key:'LLL:EXT:auth0/Resources/Private/Language/locallang_be.xlf:form.error.{error}.title')}" state="2">
				<f:translate key="LLL:EXT:auth0/Resources/Private/Language/locallang_be.xlf:form.error.{error}.description" />
			</f:be.infobox>
		</f:else>
	</f:if>
</f:section>
</html>